#container {
  margin: 0 auto;
  width: 855px;
  text-align: left;
}

.name-address {
  background-image:url(https://lh5.googleusercontent.com/-GVpKdOkhtwg/VQ8iT2kIGuI/AAAAAAAAAGM/T5XYvFhvxc0/w1214-h809-no/BW%2BTree%2Bfade%2B2j.jpg);
  background-repeat: no-repeat;
}

.nutshell {
  color: #000000;
  font-size: 24px;  
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-left: 20px;
}

.name-address h1 {
  color: #ffffff;
  font-size: 48px;  
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-shadow: 1px 1px 2px #000000;
  padding: 10px 20px 0px;
  margin-bottom: 0px;
}

.name-address p {
  color: #ffffff;
  font-size: 24px;  
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 2px #000000;
  padding: 0px 20px 10px;
  margin-top: 0px;
}

.workex {
  color: #ffffff;
  font-size: 36px;  
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-shadow: 1px 1px 2px #000000;
  padding: 20px 20px 0px;
  margin-bottom: 0px;
}

.USPS h2 {
  color: #000000;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 0px 0px 0px 20px;
  margin-bottom: 0px;

}

.USPS h3 {
  color: #000000;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 0px 0px 0px 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.USPS li {
  color: #000000;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 2px;
}

.USbank h2 {
  color: #000000;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 0px 0px 0px 20px;
  margin-bottom: 0px;

}

.USbank h3 {
  color: #000000;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 0px 0px 0px 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.USbank li {
  color: #000000;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 2px;
}

.hbfuller h2 {
  color: #000000;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 0px 0px 0px 20px;
  margin-bottom: 0px;

}

.hbfuller h3 {
  color: #000000;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 0px 0px 0px 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.hbfuller li {
  color: #000000;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 2px;
}

.mnstatefair h2 {
  color: #000000;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 0px 0px 0px 20px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.mnstatefair h3 {
  color: #000000;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 0px 0px 0px 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.mnstatefair li {
  color: #000000;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 2px;
}

.skills h2 {
  color: #ffffff;
  font-size: 36px;  
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-shadow: 1px 1px 2px #000000;
  padding: 0px 20px 0px;
  margin-bottom: 0px;
}

.skills li {
  color: #000000;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 2px;
}